body {
  font-family: "Open Sans", serif;
  font-size: .9em;
  width: 800px;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  margin-top: .5em;
}

a {
  color: rgba(0,61,100,1);
}

header {
  background-color: rgba(0,61,100,.6);
  padding: .5em;
}

header h1 {
  margin: 0;
  font-size: 1.6em;
  text-align: center;
}

header p {
  font-style: italic;
  margin-bottom: 0;
}


nav {
  font-size: 1em;
  background-color: rgba(126,0,47,.6);
}

nav ul {
  list-style-type: none;
}

nav a {
  color: black;
  text-decoration: none;
  height: 100%;
  padding: .5em 1em;
  display: block;
}

nav li:hover a {
  text-decoration: underline;
}

nav ul {
  padding: 0;
}

nav li {
  display: inline-block;
  border-right: 1px solid white;
}

nav li:hover {
  background-color: rgba(126,0,47,.4);
}


h2 {
  font-size: 1.3em;
}

h3 {
  color: rgba(0,0,0,.6);
}

blockquote {
  margin: 0;
}

dl.schedule {
}

dl.schedule dt {
  height: 0;
}

dl.schedule dd {
  margin-left: 8em;
}

dl.schedule dd.title span {
  font-weight: bold;
}

dl.schedule dd.speaker span.name,
p.speaker span.name {
  font-style: italic;
}

ul.names {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.names li {
  padding-left: 1em;
  text-indent: -.7em;
  margin-bottom: .3em;
}

ul.names li:before {
  content: "• ";
  color: rgba(0,61,100,.5);
}

ul.names span.name {
  font-weight: bold;
}

ul.names span.name a {
  text-decoration: none;
}

ul.names span.name a:hover {
  text-decoration: underline;
}
