---
layout: default
---

<h2>Description</h2>
The aim of the conference is to bring together experts and graduate students/postdocs working in various modern approaches to geometry. Example topics would be:
<ul>
  <li>derived algebraic / symplectic geometry
  <li>derived minimal model program
  <li>homological projective duality
  <li>homological mirror symmetry
  <li>stability conditions
  <li>non-commutative motives / non-commutative (co)homology theories
  <li>generalizations of derived categories / cDG-categories / matrix factorizations
  <li>operads / graph complexes / deformation theory
  <li>non-commutative versions of classical varieties (del Pezzo, tori, K3, ...)
</ul>

<h2>List of speakers</h2>
<p>The list is still incomplete.
<ul class="names">
{% for speaker_id in site.data.speakers %}
{% assign speaker = speaker_id[1] %}
  <li><span class="name">
  {% if speaker.website %}
    <a href="{{ speaker.website }}">{{ speaker.name }}</a>
  {% else %}
    {{ speaker.name }}
  {% endif %}
  </span>
  {% if speaker.tbc %}
    *
  {% endif %}
  (<span class="affiliation">{{ speaker.affiliation }}</span>)
{% endfor %}
</ul>

*: to be confirmed

<h2>Time and venue</h2>
<p>The conference starts on Monday, September 19 in the morning and ends on Saturday, September 24 at noon.
<p>Talks will take place at the University of Antwerp, on Campus Middelheim, in building G (<a href="https://www.uantwerpen.be/en/campus-life/on-your-way-to-campus/campus-middelheim/">directions</a>).
<p>Detailed information will follow.

<h2>Registration, financial support and accomodation</h2>
<p>Registration is compulsory. The deadline for registration if you wish to be considered for financial support is May 1.
<p>Financial support can be applied for when registering.

<p>For funded participants rooms including breakfast will be booked by the organisers based on the information given via registration. All other participants are asked to contact a hotel directly. A list of hotels will be provided soon.

<h2>Organising committee</h2>
<p>If you have any questions you can contact the organisers.
<ul class="names">
  <li><span class="name"><a href="http://win.ua.ac.be/~wlowen/welcome.html">Wendy Lowen</a></span>
  <li><span class="name"><a href="http://hardy.uhasselt.be/personal/vdbergh/Members/michel_id.html">Michel Van den Bergh</a></span>
</ul>
<p>The conference is supported through the European Research Council (ERC) grant no. 257004-HHNcdMir and the Research Foundation Flanders (FWO) under grant no. G.0112.13N and G.0D86.16N.
<ul id="logos">
  <li><a href="http://erc.europa.eu/"><img width="200" src="logo-erc.jpg"></a>
  <li><a href="http://fwo.be"><img width="200" src="logo-fwo.jpg"></a>
  <li><a href="http://uantwerpen.be"><img width="150" src="logo-uantwerpen.jpg"></a>
</ul>
