---
layout: default
---

<h2>Description</h2>
<p>...

<h2>List of speakers</h2>
<p>The list is still incomplete.
<ul class="names">
{% for speaker_id in site.data.speakers %}
{% assign speaker = speaker_id[1] %}
  <li><span class="name">
  {% if speaker.website %}
    <a href="{{ speaker.website }}">{{ speaker.name }}</a>
  {% else %} 
    {{ speaker.name }}
  {% endif %}
  </span>
  (<span class="affiliation">{{ speaker.affiliation }}</span>)
{% endfor %}
</ul>

<h2>Time and venue</h2>
<p>The conference starts on Monday, September 19 in the morning and ends on Saturday, September 24 in the evening.
<p>Talks will take place in building G, on campus Middelheim (<a href=https://www.uantwerpen.be/en/campus-life/on-your-way-to-campus/campus-middelheim/">directions</a>).

<h2>Financial support</h2>
<p>There will be (limited) financial support. You can request funding for travel costs and / or accommodation. In case you are given funding for accommodation we will book the hotel.

<h2>Organising committee</h2>
<p>If you have any questions you can contact the organisers.
<ul class="names">
  <li><span class="name"><a href="http://win.ua.ac.be/~wlowen/welcome.html">Wendy Lowen</a></span>
  <li><span class="name"><a href="http://hardy.uhasselt.be/personal/vdbergh/Members/michel_id.html">Michel Van den Bergh</a></span>
</ul>
