---
layout: default
---

<h2>Programme</h2>
{% for day in site.data.schedule %}
<h3>{{ day.date }}</h3>
<dl class="schedule">
  {% for slot in day.slots %}
    <dt>{{ slot.time }}
    {% if slot.talk %}
      {% assign talk = site.data.talks[slot.talk] %}
      {% assign speaker = site.data.speakers[talk.speaker] %}
      <dd class="title">{{ talk.title }}</dd>
      <dd class="speaker"><span class="name">{{ speaker.name }}</span> (<span class="affiliation">{{ speaker.affiliation }}</span>)</dd>
    {% else %}
      <dd><em>to be announced</em></dd>
    {% endif %}
  {% endfor %}
</dl>
{% endfor %}
